USE [master]
GO
/****** Object:  Database [checksheet]    Script Date: 15/04/2025 10.45.47 ******/
CREATE DATABASE [checksheet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'checksheet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\checksheet.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'checksheet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\checksheet_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [checksheet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [checksheet]
GO
/****** Object:  Table [dbo].[data_master_mesin_MTN]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_master_mesin_MTN](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_machine] [varchar](100) NULL,
	[name_machine] [varchar](200) NULL,
	[spec_unit] [varchar](100) NULL,
	[category] [varchar](100) NULL,
	[line] [varchar](100) NULL,
	[production] [varchar](100) NULL,
	[area] [varchar](100) NULL,
	[description] [varchar](max) NULL,
	[sub_assy_mc] [varchar](100) NULL,
	[id_sub_assy_mc] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[data_version] [smallint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_master_mesin_part_MTN]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_master_mesin_part_MTN](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name_part] [varchar](200) NULL,
	[spec_part] [varchar](100) NULL,
	[description] [varchar](max) NULL,
	[category_part] [varchar](50) NULL,
	[id_machine] [varchar](100) NOT NULL,
	[status_pn] [varchar](50) NULL,
	[item_pn] [varchar](100) NULL,
	[item_code] [varchar](100) NULL,
	[qty] [int] NULL,
	[unit] [varchar](50) NULL,
	[stock_need] [int] NULL,
	[stock_on_hand] [int] NULL,
	[life_time] [float] NULL,
	[periodic] [float] NULL,
	[sync_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[data_version] [smallint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_data_karyawan]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_data_karyawan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[npk] [int] NULL,
	[nama] [varchar](150) NULL,
	[id_divisi] [int] NULL,
	[id_departement] [int] NULL,
	[id_section] [int] NULL,
	[id_sub_section] [int] NULL,
	[jabatan] [varchar](50) NULL,
	[kode_jabatan] [int] NULL,
	[status_karyawan] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[employe_status] [varchar](50) NULL,
	[org] [varchar](250) NULL,
	[status] [tinyint] NULL,
	[type_karyawan] [varchar](50) NULL,
	[type_golongan] [varchar](5) NULL,
 CONSTRAINT [PK_master_data_karyawan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[version] [varchar](255) NOT NULL,
	[class] [varchar](255) NOT NULL,
	[group] [varchar](255) NOT NULL,
	[namespace] [varchar](255) NOT NULL,
	[time] [int] NOT NULL,
	[batch] [int] NOT NULL,
 CONSTRAINT [pk_migrations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preuse_tb_checksheet]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preuse_tb_checksheet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bulan] [nvarchar](20) NOT NULL,
	[departemen] [varchar](255) NOT NULL,
	[seksi] [varchar](255) NOT NULL,
	[master_id] [int] NULL,
	[mesin] [varchar](50) NOT NULL,
	[line] [varchar](20) NULL,
	[id_machine] [varchar](50) NULL,
 CONSTRAINT [PK__tb_check__3213E83FA7D6D621] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preuse_tb_detail_checksheet]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preuse_tb_detail_checksheet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[checksheet_id] [int] NOT NULL,
	[item_check] [varchar](255) NOT NULL,
	[inspeksi] [varchar](255) NOT NULL,
	[standar] [varchar](255) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[npk] [varchar](50) NULL,
	[tanggal] [date] NULL,
	[kolom] [varchar](50) NULL,
	[is_submitted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
	[deleted] [bit] NULL,
	[is_resolved] [bit] NULL,
	[id_karyawan] [int] NULL,
 CONSTRAINT [PK__tb_detai__3213E83F28A04140] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preuse_tb_detail_master]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preuse_tb_detail_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[master_id] [int] NOT NULL,
	[item_check] [varchar](255) NOT NULL,
	[inspeksi] [varchar](255) NOT NULL,
	[standar] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preuse_tb_master]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preuse_tb_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mesin] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[judul_checksheet] [varchar](255) NOT NULL,
	[id_machine] [nvarchar](max) NULL,
 CONSTRAINT [PK__tb_maste__3213E83FFF0BEF7B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preuse_tb_status_change_log]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preuse_tb_status_change_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[detail_checksheet_id] [int] NOT NULL,
	[previous_status] [varchar](10) NOT NULL,
	[new_status] [varchar](10) NULL,
	[reason] [text] NULL,
	[changed_by] [varchar](50) NULL,
	[changed_at] [datetime] NULL,
 CONSTRAINT [PK__preuse_t__3213E83F432CAEBC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_checksheet]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_checksheet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mesin] [varchar](255) NOT NULL,
	[bulan] [varchar](50) NOT NULL,
	[departemen] [varchar](50) NOT NULL,
	[seksi] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [pk_tb_checksheet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_master]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mesin] [text] NOT NULL,
	[item_check] [varchar](255) NOT NULL,
	[inspeksi] [varchar](255) NOT NULL,
	[standar] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [pk_tb_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 15/04/2025 10.45.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[data_master_mesin_MTN] ON 

INSERT [dbo].[data_master_mesin_MTN] ([id], [id_machine], [name_machine], [spec_unit], [category], [line], [production], [area], [description], [sub_assy_mc], [id_sub_assy_mc], [created_at], [data_version]) VALUES (693, N'D-UTY-AIR-001', N'Air Cooler Pasting-Mixing Gedung B', N'30-AP', N'Air Cooler', N'Pasting', N'1', N'Gd. B', NULL, NULL, NULL, CAST(N'2025-03-22T11:27:58.000' AS DateTime), 300)
INSERT [dbo].[data_master_mesin_MTN] ([id], [id_machine], [name_machine], [spec_unit], [category], [line], [production], [area], [description], [sub_assy_mc], [id_sub_assy_mc], [created_at], [data_version]) VALUES (694, N'D-UTY-AIR-002', N'Air Cooler Grid Casting Barat Gedung B', N'18-ANV', N'Air Cooler', N'Grid Casting', N'1', N'Gd. B', NULL, NULL, NULL, CAST(N'2025-03-22T11:27:58.000' AS DateTime), 300)
INSERT [dbo].[data_master_mesin_MTN] ([id], [id_machine], [name_machine], [spec_unit], [category], [line], [production], [area], [description], [sub_assy_mc], [id_sub_assy_mc], [created_at], [data_version]) VALUES (695, N'D-UTY-AIR-003', N'Air Cooler Grid Casting Timur Gedung B', N'18-ANV', N'Air Cooler', N'Grid Casting', N'1', N'Gd. B', NULL, NULL, NULL, CAST(N'2025-03-22T11:27:58.000' AS DateTime), 300)
GO
SET IDENTITY_INSERT [dbo].[data_master_mesin_MTN] OFF
GO
SET IDENTITY_INSERT [dbo].[data_master_mesin_part_MTN] ON 

INSERT [dbo].[data_master_mesin_part_MTN] ([id], [name_part], [spec_part], [description], [category_part], [id_machine], [status_pn], [item_pn], [item_code], [qty], [unit], [stock_need], [stock_on_hand], [life_time], [periodic], [sync_at], [created_at], [data_version]) VALUES (5, N'Elektro Motor', N'5 HP X 10 P', NULL, NULL, N'D-UTY-CTW-001', N'NP', NULL, NULL, 1, N'EA', NULL, NULL, 730, 60, NULL, CAST(N'2025-02-19T20:18:26.000' AS DateTime), 300)
INSERT [dbo].[data_master_mesin_part_MTN] ([id], [name_part], [spec_part], [description], [category_part], [id_machine], [status_pn], [item_pn], [item_code], [qty], [unit], [stock_need], [stock_on_hand], [life_time], [periodic], [sync_at], [created_at], [data_version]) VALUES (6, N'Set Fan Assy', N'LBC 125', NULL, NULL, N'D-UTY-CTW-001', N'NP', NULL, NULL, 1, N'SET', NULL, NULL, 730, 60, NULL, CAST(N'2025-02-19T20:18:26.000' AS DateTime), 300)
INSERT [dbo].[data_master_mesin_part_MTN] ([id], [name_part], [spec_part], [description], [category_part], [id_machine], [status_pn], [item_pn], [item_code], [qty], [unit], [stock_need], [stock_on_hand], [life_time], [periodic], [sync_at], [created_at], [data_version]) VALUES (7, N'Sprinkle Head', N'LBC 125 5"', NULL, NULL, N'D-UTY-CTW-001', N'NP', NULL, NULL, 1, N'EA', NULL, NULL, 730, 60, NULL, CAST(N'2025-02-19T20:18:26.000' AS DateTime), 300)
GO
SET IDENTITY_INSERT [dbo].[data_master_mesin_part_MTN] OFF
GO
SET IDENTITY_INSERT [dbo].[master_data_karyawan] ON 

INSERT [dbo].[master_data_karyawan] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [status_karyawan], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (1, 111, N'name_1', 1, 20, 42, NULL, N'Kepala Seksi', 4, N'cbi', N'a@astra.co.id', CAST(N'2023-09-14T09:28:00.973' AS DateTime), N'Tetap', NULL, 1, N'REGULAR', N'A')
INSERT [dbo].[master_data_karyawan] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [status_karyawan], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (2, 222, N'name_2', 5, 31, 48, NULL, N'Kepala Seksi', 4, N'cbi', N's@astra.co.id', CAST(N'2023-09-14T09:28:01.103' AS DateTime), N'Tetap', NULL, 1, N'REGULAR', N'A')
INSERT [dbo].[master_data_karyawan] ([id], [npk], [nama], [id_divisi], [id_departement], [id_section], [id_sub_section], [jabatan], [kode_jabatan], [status_karyawan], [email], [created_at], [employe_status], [org], [status], [type_karyawan], [type_golongan]) VALUES (3, 333, N'name_3', 5, 31, 43, 56, N'Operator', 7, N'cbi', NULL, CAST(N'2023-09-14T09:28:01.233' AS DateTime), N'Tetap', NULL, 0, N'REGULAR', N'B')
SET IDENTITY_INSERT [dbo].[master_data_karyawan] OFF
GO
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [version], [class], [group], [namespace], [time], [batch]) VALUES (1, N'2025-03-14-064421', N'App\Database\Migrations\TbChecksheet', N'default', N'App', 1742976837, 1)
INSERT [dbo].[migrations] ([id], [version], [class], [group], [namespace], [time], [batch]) VALUES (2, N'2025-03-14-064555', N'App\Database\Migrations\TbMaster', N'default', N'App', 1742976838, 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
GO
SET IDENTITY_INSERT [dbo].[preuse_tb_checksheet] ON 

INSERT [dbo].[preuse_tb_checksheet] ([id], [bulan], [departemen], [seksi], [master_id], [mesin], [line], [id_machine]) VALUES (25, N'2025-04', N'PRD', N'Prod. 2', 9, N'Scrubber Grid Casting Gedung B', N'1', N'D-UTY-SCB-004')
INSERT [dbo].[preuse_tb_checksheet] ([id], [bulan], [departemen], [seksi], [master_id], [mesin], [line], [id_machine]) VALUES (26, N'2025-04', N'PRD', N'Prod. 2', 9, N'ENVELOPE Line 5 No. 2', N'1', N'D-PR2-AMB-ENV-006')
SET IDENTITY_INSERT [dbo].[preuse_tb_checksheet] OFF
GO
SET IDENTITY_INSERT [dbo].[preuse_tb_detail_checksheet] ON 

INSERT [dbo].[preuse_tb_detail_checksheet] ([id], [checksheet_id], [item_check], [inspeksi], [standar], [status], [created_at], [npk], [tanggal], [kolom], [is_submitted], [deleted_at], [deleted], [is_resolved], [id_karyawan]) VALUES (237, 26, N'Check A', N'Inpeksi A', N'Standar A', N'NG', CAST(N'2025-04-15T08:21:55.043' AS DateTime), N'333', CAST(N'2025-04-01' AS Date), N'1', 1, CAST(N'2025-04-15T09:28:51.000' AS DateTime), NULL, 1, 3)
INSERT [dbo].[preuse_tb_detail_checksheet] ([id], [checksheet_id], [item_check], [inspeksi], [standar], [status], [created_at], [npk], [tanggal], [kolom], [is_submitted], [deleted_at], [deleted], [is_resolved], [id_karyawan]) VALUES (238, 26, N'Check B', N'Inpeksi B', N'Standar B', N'OK', CAST(N'2025-04-15T08:21:55.090' AS DateTime), N'333', CAST(N'2025-04-01' AS Date), N'1', 1, NULL, NULL, NULL, 3)
INSERT [dbo].[preuse_tb_detail_checksheet] ([id], [checksheet_id], [item_check], [inspeksi], [standar], [status], [created_at], [npk], [tanggal], [kolom], [is_submitted], [deleted_at], [deleted], [is_resolved], [id_karyawan]) VALUES (239, 26, N'Check A', N'Inpeksi A', N'Standar A', N'NG', CAST(N'2025-04-15T08:22:04.210' AS DateTime), N'333', CAST(N'2025-04-02' AS Date), N'2', 1, CAST(N'2025-04-15T09:28:51.000' AS DateTime), NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[preuse_tb_detail_checksheet] OFF
GO
SET IDENTITY_INSERT [dbo].[preuse_tb_detail_master] ON 

INSERT [dbo].[preuse_tb_detail_master] ([id], [master_id], [item_check], [inspeksi], [standar], [created_at]) VALUES (122, 9, N'Check B', N'Inpeksi B', N'Standar B', CAST(N'2025-04-15T09:28:51.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[preuse_tb_detail_master] OFF
GO
SET IDENTITY_INSERT [dbo].[preuse_tb_master] ON 

INSERT [dbo].[preuse_tb_master] ([id], [mesin], [created_at], [judul_checksheet], [id_machine]) VALUES (9, N'["Scrubber Grid Casting Gedung B","ENVELOPE Line 5 No. 2"]', CAST(N'2025-04-14T08:42:02.000' AS DateTime), N'Pre-Use', N'["D-UTY-SCB-004","D-PR2-AMB-ENV-006"]')
SET IDENTITY_INSERT [dbo].[preuse_tb_master] OFF
GO
SET IDENTITY_INSERT [dbo].[preuse_tb_status_change_log] ON 

INSERT [dbo].[preuse_tb_status_change_log] ([id], [detail_checksheet_id], [previous_status], [new_status], [reason], [changed_by], [changed_at]) VALUES (65, 237, N'NG', N'OK', N'Ganti', N'12345', CAST(N'2025-04-15T08:22:34.000' AS DateTime))
INSERT [dbo].[preuse_tb_status_change_log] ([id], [detail_checksheet_id], [previous_status], [new_status], [reason], [changed_by], [changed_at]) VALUES (66, 240, N'NG', N'OK', N'Ganti', N'23456', CAST(N'2025-04-15T08:45:17.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[preuse_tb_status_change_log] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tb_user__AB6E616406BD0F27]    Script Date: 15/04/2025 10.45.48 ******/
ALTER TABLE [dbo].[tb_user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[data_master_mesin_MTN] ADD  CONSTRAINT [DF_data_master_mesin_MTN_created_at_1]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[master_data_karyawan] ADD  CONSTRAINT [DF_master_data_karyawan_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[preuse_tb_checksheet] ADD  CONSTRAINT [DF__tb_checks__mesin__5BE2A6F2]  DEFAULT ((0)) FOR [mesin]
GO
ALTER TABLE [dbo].[preuse_tb_detail_checksheet] ADD  CONSTRAINT [DF__tb_detail__creat__66603565]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[preuse_tb_detail_checksheet] ADD  CONSTRAINT [DF__tb_detail__is_su__7F2BE32F]  DEFAULT ((0)) FOR [is_submitted]
GO
ALTER TABLE [dbo].[preuse_tb_detail_master] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[preuse_tb_master] ADD  CONSTRAINT [DF__tb_master__creat__4D94879B]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tb_user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[preuse_tb_checksheet]  WITH CHECK ADD  CONSTRAINT [fk_master] FOREIGN KEY([master_id])
REFERENCES [dbo].[preuse_tb_master] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[preuse_tb_checksheet] CHECK CONSTRAINT [fk_master]
GO
ALTER TABLE [dbo].[preuse_tb_detail_checksheet]  WITH CHECK ADD  CONSTRAINT [FK__tb_detail__check__6754599E] FOREIGN KEY([checksheet_id])
REFERENCES [dbo].[preuse_tb_checksheet] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[preuse_tb_detail_checksheet] CHECK CONSTRAINT [FK__tb_detail__check__6754599E]
GO
ALTER TABLE [dbo].[preuse_tb_detail_master]  WITH CHECK ADD  CONSTRAINT [FK__tb_detail__maste__628FA481] FOREIGN KEY([master_id])
REFERENCES [dbo].[preuse_tb_master] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[preuse_tb_detail_master] CHECK CONSTRAINT [FK__tb_detail__maste__628FA481]
GO
ALTER TABLE [dbo].[preuse_tb_status_change_log]  WITH CHECK ADD  CONSTRAINT [FK_StatusChange_DetailChecksheet] FOREIGN KEY([detail_checksheet_id])
REFERENCES [dbo].[preuse_tb_detail_checksheet] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[preuse_tb_status_change_log] CHECK CONSTRAINT [FK_StatusChange_DetailChecksheet]
GO
USE [master]
GO
